.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
    padding: 0;
}


/* Everything but the jumbotron gets side spacing for mobile first views */

.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}


/* Custom page header */

.header {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 10px;
}


/* Make the masthead heading the same height as the navigation */

.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}


/* Custom page footer */

.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}


/* Main marketing message and sign up button */

.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}


/* Supporting marketing content */

.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}


/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

body {
    font-family: 'Open Sans', serif;
    font-size: 100%
}

.contentWrapper {
    width: 800px;
    margin: auto;
    font-size: 22px;
    font-weight: 200
}

h1 {
    font-size: 60px;
    font-weight: 300
}

.firstVolSpeak {
    background-color: #0a2a2d;
    -webkit-transition: .1s ease all
}

.secondVolSpeak {
    background-color: #0e393d;
    -webkit-transition: .1s ease all
}

.thirdVolSpeak {
    background-color: #114649;
    -webkit-transition: .1s ease all
}

.fourthVolSpeak {
    background-color: #155c63;
    -webkit-transition: .1s ease all
}

.fifthVolSpeak {
    background-color: #1c7177;
    -webkit-transition: .1s ease all
}

.sixthVolSpeak {
    background-color: #247b82;
    -webkit-transition: .1s ease all
}

.seventhVolSpeak {
    background-color: #30878e;
    -webkit-transition: .1s ease all
}

.eighthVolSpeak {
    background-color: #378f96;
    -webkit-transition: .1s ease all
}

.ninthVolSpeak {
    background-color: #40aab2;
    -webkit-transition: .1s ease all
}

.notspeaking {
    background-color: #5EDCCC;
    -webkit-transition: .1s ease all
}

.volumeBarArea {
    position: relative;
    width: 150px;
    height: 100px;
    background: rgba(10, 24, 24, 1);
    border-left: solid 1px #5FDCCD;
}

.volBar {
    position: absolute;
    background: #0a2a2d;
    -webkit-transition: .1s ease all;
}

.volBarSpeaking {
    background-color: #67CED4;
    -webkit-transition: .1s ease all;
}

.volBarNotSpeaking {
    background-color: #0a2a2d;
    -webkit-transition: .1s ease all;
}

.experiment {
    position: relative;
    z-index: 10000;
}

.MicrophoneStatus {
    float:left;
    padding: 5px;
    background-color: black;
}

.CallSignArea {
    position: relative;
    background: #5FDCCD;
    width: 150px;
    height: 100px;
}

.CallSignText {
    font-size: 85px;
    font-family: 'Coburn';
    line-height: 95px;
    width: 150px;
    text-align: center;
}

.PilotPortrait {
    border-style: solid;
    border-width: 5px;
    border-color: #5FDCCD;
    padding: 2px;
    width: 440px;
}

.PilotPortraitArea{
    width: 450px;
    padding: 5px;
    background-color: #151515 ;
}

.PilotCard{
    border-style: solid;
    border-width: 3px;
    border-color: #5FDCCD;
    width: 456px;
    display: inline-block;
}

.PilotAudioStatus{
    border-top: 3px solid #5FDCCD;
    height:100px;
}

.BorderDesignsLeft{
    display: inline-block;
    border-top:2px solid #5FDCCD;
    border-bottom: 2px solid #5FDCCD;
    height: 615px;
    width: 5px;
    float: left;
}

.BorderDesignsRight{
    display: inline;
    border-top:2px solid #5FDCCD;
    border-bottom: 2px solid #5FDCCD;
    height: 615px;
    width: 5px;
    float: right;
}

.BorderDesignsTopBottom{
    margin-left: 5px;
    border-left: 2px solid #5FDCCD;
    border-right: 2px solid #5FDCCD;
    height: 5px;
    width: 456px;
    position: relative;
}

.warningContainer {
    overflow: hidden;
    width: 440px;
    height: 120px;
    background-color: yellow;
    z-index: 10001;
    position: absolute;
}

.warningMessage {
    position: absolute;
    z-index: 10002;
    text-align: center;
    background-color: black;
    margin:20px;
    line-height: 80px;
    width: 400px;
    color: yellow;
    font-size: 60px;
}

.ScreenBorder{
    width:466px;
}

@font-face {
    font-family: 'Coburn';
    src: url('../fonts/Coburn.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/Coburn.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Coburn.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/Coburn.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Coburn.svg#Coburn') format('svg');
    /* Legacy iOS */
}
