.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
    padding: 0;
}


/* Everything but the jumbotron gets side spacing for mobile first views */

.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}


/* Custom page header */

.header {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 10px;
}


/* Make the masthead heading the same height as the navigation */

.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}


/* Custom page footer */

.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}


/* Main marketing message and sign up button */

.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}


/* Supporting marketing content */

.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}


/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
    .container {
        max-width: 100%;
    }
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

body {
    font-family: 'Open Sans', serif;
    font-size: 100%
}

.contentWrapper {
    width: 800px;
    margin: auto;
    font-size: 22px;
    font-weight: 200
}

h1 {
    font-size: 60px;
    font-weight: 300
}

.firstVolSpeak {
    background-color: #0a2a2d;
    -webkit-transition: .1s ease all
}

.secondVolSpeak {
    background-color: #0e393d;
    -webkit-transition: .1s ease all
}

.thirdVolSpeak {
    background-color: #114649;
    -webkit-transition: .1s ease all
}

.fourthVolSpeak {
    background-color: #155c63;
    -webkit-transition: .1s ease all
}

.fifthVolSpeak {
    background-color: #1c7177;
    -webkit-transition: .1s ease all
}

.sixthVolSpeak {
    background-color: #247b82;
    -webkit-transition: .1s ease all
}

.seventhVolSpeak {
    background-color: #30878e;
    -webkit-transition: .1s ease all
}

.eighthVolSpeak {
    background-color: #378f96;
    -webkit-transition: .1s ease all
}

.ninthVolSpeak {
    background-color: #40aab2;
    -webkit-transition: .1s ease all
}

.notspeaking {
    background-color: #5EDCCC;
    -webkit-transition: .1s ease all
}

.volumeBarArea {
    position: relative;
    width: 150px;
    height: 100px;
    background: rgba(10, 24, 24, 1);
    border-left: solid 1px #5FDCCD;
}

.SquadVolumeBarArea {
    position: relative;
    width: 100px;
    height: 70px;
    background: rgba(10, 24, 24, 1);
    border-right: solid 3px black;
    border-top: solid 3px black;
    border-bottom: solid 3px black;
    display: inline-block;
}

.volBar {
    position: absolute;
    background: #0a2a2d;
    -webkit-transition: .1s ease all;
}

.volBarSpeaking {
    background-color: #67CED4;
    -webkit-transition: .1s ease all;
}

.volBarNotSpeaking {
    background-color: #0a2a2d;
    -webkit-transition: .1s ease all;
}

.experiment {
    position: relative;
    z-index: 10000;
}

.MicrophoneStatus {
    float: left;
    padding: 5px;
    background-color: black;
}

.SquadMicrophoneStatus {
    width: 100px;
    height: 70px;
    float: left;
    background-color: black;
    border-style: solid;
    border-width: 3.33px;
    border-color: black;
}

.MicroPhoneImg {
    width: 100px;
    height: 70px;
}

.CallSignArea {
    position: relative;
    background: #5FDCCD;
    width: 150px;
    height: 100px;
}

.CallSignText {
    padding-top: 5px;
    padding-left: 10px;
    font-size: 80px;
    font-family: 'Halenstb';
    line-height: 95px;
    width: 150px;
    text-align: center;
}

.PilotPortrait {
    border-style: solid;
    border-width: 5px;
    border-color: #5FDCCD;
    padding: 2px;
    width: 440px;
}

.PilotPortraitArea {
    width: 450px;
    padding: 5px;
    background-color: #151515;
    position: relative;
}

.PilotCard {
    border-style: solid;
    border-width: 3px;
    border-color: #5FDCCD;
    width: 456px;
    display: inline-block;
    cursor: pointer;
}

.PilotAudioStatus {
    border-top: 3px solid #5FDCCD;
    height: 100px;
}

.SquadPilotAudioStatus {
    height: 72px;
    bottom: 0px;
    position: absolute;
    left: 0px;
    border: 2px solid #5FDCCD;
    border-bottom: 0px;
}

.BorderDesignsLeft {
    display: inline-block;
    border-top: 2px solid #5FDCCD;
    border-bottom: 2px solid #5FDCCD;
    height: 616px;
    width: 5px;
    float: left;
}

.BorderDesignsRight {
    display: inline;
    border-top: 2px solid #5FDCCD;
    border-bottom: 2px solid #5FDCCD;
    height: 616px;
    width: 5px;
    float: right;
}

.BorderDesignsTopBottom {
    margin-left: 5px;
    border-left: 2px solid #5FDCCD;
    border-right: 2px solid #5FDCCD;
    height: 5px;
    width: 456px;
    position: relative;
}

.warningContainer {
    overflow: hidden;
    width: 440px;
    height: 120px;
    background-color: yellow;
    z-index: 10001;
    position: absolute;
}

.warningMessage {
    position: absolute;
    z-index: 10002;
    text-align: center;
    background-color: black;
    margin: 20px;
    line-height: 80px;
    width: 400px;
    color: yellow;
    font-size: 60px;
}

.SquadWarningContainer {
    overflow: hidden;
    width: 300px;
    height: 80px;
    background-color: yellow;
    z-index: 10001;
    position: absolute;
}

.SquadWarningMessage {
    position: absolute;
    z-index: 10002;
    text-align: center;
    background-color: black;
    margin: 10px;
    line-height: 60px;
    width: 280px;
    color: yellow;
    font-size: 40px;
}

.ScreenBorder {
    width: 466px;
}

.PilotNameArea {
    border-top: solid 3px #5FDCCD;
    border-left: solid 3px #5FDCCD;
    font-size: 150px;
    line-height: 150px;
    width: 150px;
    z-index: 5;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.PilotName {
    opacity: 1;
    color: white;
}

.Pilot {
    z-index: -1;
    padding-left: 4px;
    background-color: black;
}

.PilotPortraitSquareArea {
    width: 306px;
    height: 305px;
    overflow: hidden;
    background-color: #151515;
    position: relative;
    border: solid 1px #5FDCCD;
    border-right: 0px;
    border-top: 0px;
    cursor: pointer;
}

.PilotPortraitSquare {
    border: 1px solid #5FDCCD;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
    margin-top: 0px;
    height: 300px;
    width: 300px;
    position: absolute;
    bottom: 0;
}

.RequestBackground {
    width: 300px;
}

.SquadPilotName {
    width: 100px;
    padding-top: 5px;
    line-height: 90px;
    background-color: black;
    font-size: 100px;
    text-align: center;
    color: white;
    float: left;
    display: inline-block;
}

.SquadCallSign {
    width: 202px;
    line-height: 90px;
    padding-top: 5px;
    background-color: #5FDCCD;
    text-align: right;
    display: inline-block;
    font-size: 90px;
    font-family: 'Halenstb';
    color: black;
}

.SquadPilotTitle {
    border: solid 2px #5FDCCD;
    width: 306px;
    height: 98px;
    margin-left: 4px;
}

.HeartMonitorName,
.BrainWaveMonitorName,
.StressMonitorName,
.TemperatureMonitorName {
    width: 100px;
    line-height: 96px;
    text-align: center;
    font-size: 90px;
    font-family: 'Halenstb';
    color: #5FDCCD;
    display: inline-block;
    float: left;
    border-right: 1px solid #2b2b2b
}

.HeartMonitorChart,
.BrainWaveMonitorChart,
.StressMonitorChart,
.TemperatureMonitorChart {
    height: 95px;
    width: 200px;
    background-color: black;
}

.HeartMonitor,
.BrainWaveMonitor,
.StressMonitor,
.TemperatureMonitor {
    height: 100.75px;
    width: 304px;
    border: 1px solid #5FDCCD;
}

.BrainWaveMonitor,
.StressMonitor,
.TemperatureMonitor {
    border-top: 0px;
}

.MonitorBoard {
    display: inline-block;
    position: absolute;
}

.PilotBoard {
    display: inline-block;
    border-bottom: 2px solid black;
}

.TemperatureMonitorChart {
    line-height: 90px;
    padding-top: 5px;
    background-color: black;
    text-align: right;
    display: inline-block;
    font-size: 90px;
    font-family: 'Halenstb';
    color: #5FDCCD;
}

.SinglePilotDashboard {
    width: 600px;
    margin-right: 0px;
}

.SquadOfPilots {}

.FirstColumn {
    display: inline-block;
    float: left;
    position: absolute;
}

.SecondColumn {
    display: inline-block;
    position: absolute;
    float: right;
}

.SinglePilotDashboard{
    margin: 0px;
    width: 100%;
}

.flex-container-squad {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    width: 1240px;
    height: 800px;
    background-color: black;
}

.flex-item-pilot {
    background-color: black;
    width: 600px;
    height: 400px;
    margin-right: 15px;
    margin-bottom: 10px;
}

.flex-item-pilot: nth-child(2) {
    order: 2;
}

@font-face {
    font-family: 'Halenstb';
    src: url('../fonts/Halenstb.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/Halenstb.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Halenstb.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/Halenstb.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Halenstb.svg#Halenstb') format('svg');
    /* Legacy iOS */
}
