<div class="PilotPortraitSquareArea">
    <img class="PilotPortraitSquare" src='../images/samara-knights-of-sidonia-square.png' />
    <div class='SquadWarningContainer' id='warning'>
        <div class='SquadWarningMessage'>緊急要請</div>
        <img class='RequestBackground' src='../images/EmergencyRequest.png' />
    </div>
    <div class="SquadPilotAudioStatus">
        <div class="SquadMicrophoneStatus">
            <img class="notspeaking; " id="micStatus" src="../images/sidoniaSpeak.png" />
        </div>
        <div class="SquadVolumeBarArea">
            <div id="volumeBars"></div>
        </div>
    </div>
    <audio id="audioSong" src="audio/crowSong.mp3"></audio>
</div>
