<div class='flex-container-squad'>
    <div class='flex-item-pilot'>
        <squad-pilot pilot-name='イ' callsign='005' warning-message='緊急要請' audio-src='audio/crowSong.mp3' temperature='36.6' pilot-image='../images/samara-knights-of-sidonia-square.png'></squad-pilot>
    </div>
    <div class='flex-item-pilot'>
        <squad-pilot class='flex-item-pilot' pilot-name='イ' callsign='269' warning-message='緊急要請' audio-src='audio/crowSong.mp3' temperature='36.6' pilot-image='../images/samara-knights-of-sidonia-square.png'></squad-pilot>
    </div>
    <div class='flex-item-pilot'>
        <squad-pilot class='flex-item-pilot' pilot-name='羊' callsign='657' warning-message='緊急要請' audio-src='audio/crowSong.mp3' temperature='36.6' pilot-image='../images/samara-knights-of-sidonia-square.png'></squad-pilot>
    </div>
    <div class='flex-item-pilot'>
        <squad-pilot class='flex-item-pilot' pilot-name='イ' callsign='488' warning-message='緊急要請' audio-src='audio/crowSong.mp3' temperature='36.6' pilot-image='../images/samara-knights-of-sidonia-square.png'></squad-pilot>
    </div>
</div>
