<div class="SquadTitle">
待機第五班
</div>

<div class='flex-container-squad'>
    <div class='flex-item-pilot'>
        <squad-pilot pilot-name='{{main.firstPilotName}}' callsign='{{main.firstPilotCallsign}}' warning-message='緊急要請' audio-src='{{main.firstPilotAudioStream}}' temperature='{{main.firstPilotTemp}}' pilot-image='{{main.firstPilotImage}}'></squad-pilot>
    </div>
    <div class='flex-item-pilot'>
        <squad-pilot class='flex-item-pilot' pilot-name='{{main.secondPilotName}}' callsign='{{main.secondPilotCallsign}}' warning-message='緊急要請' audio-src='{{main.secondPilotAudioStream}}' temperature='{{main.secondPilotTemp}}' pilot-image='{{main.secondPilotImage}}'></squad-pilot>
    </div>
    <div class='flex-item-pilot'>
        <squad-pilot class='flex-item-pilot' pilot-name='{{main.thirdPilotName}}' callsign='{{main.thirdPilotCallsign}}' warning-message='緊急要請' audio-src='{{main.thirdPilotAudioStream}}' temperature='{{main.thirdPilotTemp}}' pilot-image='{{main.thirdPilotImage}}'></squad-pilot>
    </div>
    <div class='flex-item-pilot'>
        <squad-pilot class='flex-item-pilot' pilot-name='{{main.fourthPilotName}}' callsign='{{main.fourthPilotCallsign}}' warning-message='緊急要請' audio-src='{{main.fourthPilotAudioStream}}' temperature='{{main.fourthPilotTemp}}' pilot-image='{{main.fourthPilotImage}}'></squad-pilot>
    </div>
</div>

<div class="sidonia-logo">
    <img src="../images/Sidonia_no_Kishi_anime_logo.png"></img>
</div>